@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  /* color variables */

  /* black */
  --grey-100: #b5b5b5;
  --grey-300: #1a1a1a;
  --grey-200: #303030;
  --grey-stroke-100: #e1e1e1;
  --grey-background: #f3f3f3;
  --grey-stroke-200: #616161;
  --secondary-black: #404040;

  /* white */
  --white: #fff;
  --secondary-white: #f6f3f6;
  --primary-background-white: #f1f1f1;
  --primary-text-white: #e3e3e3;
  --white-stroke-50: #dbdbdb;

  --green-hightlight: #36fba1;

  --stroke-light-100: rgba(255, 255, 255, 0.2);
}
body {
  background: var(--primary-background-white);
  font-family: "Inter", sans-serif;
}
p {
  margin: 0;
  line-height: 140%;
}

@media only screen and (max-width: 600px) {
  .navbar {
    padding: 16px;
    display: flex;
  }
}

@media only screen and (min-width: 600px) {
  .navbar {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--grey-300);
  }
  .searchbar-wrapper {
    padding: 8px;
    background: var(--grey-200);
    border-radius: 8px;
    border: 1px solid var(--grey-stroke-200);
    display: flex;
    gap: 6px;
    width: 480px;
  }
  .searchbar-wrapper:hover {
    border: 1px solid var(--grey-stroke-100);
  }
  .searchbar-wrapper:focus {
    border: 2px solid var(--white);
  }
  .searchbar-wrapper input {
    border: none;
    outline: none;
    width: 100%;
    background: transparent;
    color: white;
  }
  .searchbar-wrapper input::placeholder {
    color: var(--grey-100);
  }
  .right-panel {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
  }
  .notification-icon {
    border-radius: 8px;
    padding: 8px;
    background: var(--grey-200);
  }
  .profile-tag {
    background-color: var(--grey-200);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 2px 2px 8px;
    gap: 8px;
  }
  .profile-name {
    color: var(--primary-text-white);
    font-size: 12px;
    font-weight: 500;
  }
  .profile-avatar {
    padding: 9px 5px 10px 5px;
    background-color: var(--green-hightlight);
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.4);
    width: 28px;
    text-align: center;
  }

  .main-container {
    width: 100%;
    max-width: 800px;
    margin: auto;
  }

  .price-alert-container {
    border-radius: 8px;
    background: var(--grey-300);
    padding: 12px 16px;
    margin-top: 32px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    color: var(--primary-text-white);
  }
  .msg-flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }
  .price-cta {
    padding: 6px 12px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: var(--white);
    box-shadow: 0px -1px 0px 0px #b5b5b5 inset;
  }
  .cancel-icon {
    padding: 6px;
    margin-left: 8px;
  }
  .parent-accordion {
    padding: 8px;
    border-radius: 18px;
    border: 1px solid var(--white-stroke-50);
    background: var(--white);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
  }
  .setup-guide-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 8px;
  }
  .guide-header {
    color: var(--grey-200);
    font-size: 14px;
    font-weight: 600;
  }
  .guide-msg {
    color: var(--grey-200);
    font-size: 13px;
    margin-bottom: 16px;
  }
  .progress-info {
    color: var(--grey-200);
    font-size: 12px;
  }
  .panel {
    background-color: white;
    display: none;
    overflow: hidden;
  }
  .active {
    border-radius: 10px;
    background: var(--grey-background);
  }
  .step-header {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .step-accordion {
    padding: 8px;
  }
  .step-description {
    margin-left: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
    overflow: hidden;
  }
  .step-description-left {
    display: flex;
    flex-direction: column;
  }
  .step-description-left p {
    margin-top: 16px;
  }
  .step-desription-right img {
    background:  var(--grey-background) / cover no-repeat;
  }
  .cuztomize-cta {
    width: fit-content;
    margin-top: 16px;
    padding: 6px 12px;
    color: var(--secondary-white);
    border-radius: 6px;
    border-top: 1.5px solid var(--stroke-light-100);
    border-right: 1.5px solid var(--stroke-light-100);
    border-left: 1.5px solid var(--stroke-light-100);
    background: var(--secondary-black);
    box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333,
      0px 2px 0px 0px #000;
  }
}
